
body {
  color: #000000;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
}

#logo{
  width: 7rem;
}

nav {
  background-color: #ffffff;
  border-bottom: 1px solid #36334F;
}

nav a.nav-link, nav a.navbar-brand {
  color: #36334F; 
}

nav a.nav-link:hover, nav a.navbar-brand:hover {
  color: #E98D4F; 
}

.nav-link {
  position: relative;
  color: #333;
  transition: color 0.3s ease;
  margin: 1rem;
}

.btn-custom {
  background-color: #E98D4F;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
  font-weight: 700;
}

.btn-custom:hover {
  background-color: none;
  color: #E98D4F;
  border: 1px solid #E98D4F;
}


.btn-custom-2 {
  background-color: #36334F;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
  font-weight: 700;
}

.btn-custom-2:hover {
  background-color: none;
  color: #36334F;
  border: 1px solid #36334F;
}

.custom-toggler {
  border: none; /* Remove a borda */
  background-color: transparent; /* Transparente */
}

.custom-toggler:focus {
  outline: none; 
  box-shadow: none; 
}

.custom-toggler span svg {
  transition: transform 0.4s ease-in-out; /* Transição para animação */
}

.custom-toggler.collapsed span svg {
  transform: rotate(0deg); /* Estado inicial */
}

.custom-toggler:not(.collapsed) span svg {
  transform: rotate(90deg); /* Gira ao clicar */
}

#imgAbout{
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  height: 40rem;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

#imgAbout:hover{
  transform: scale(1.1);
}

.nav-link {
  transition: border-color 0.3s, background-color 0.3s; /* Transição suave */
}

.about-section {
  background-color: #36334F;
  color: #FFFFFF;
}

.swiper {
  width: 100%;
  height: 70vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev, .swiper-button-next{
  color: #E98D4F;
}

.swiper-pagination-bullet{
  background-color: #E98D4F;
}

.title-content{
  font-size: 4rem; 
  font-weight: bold; 
  margin-bottom: 1rem;
}

.light-title-content{
  font-size: 4rem; 
  font-weight: 200; 
  margin-bottom: 1rem;
}

.description-content{
  font-size: 2rem; 
  font-weight: light; 
  margin-bottom: 1rem;
}

.text-content{
  color: #fff; 
  text-align: left;
}

.title-section{
  display: flex;
  font-weight: bold; 
  font-size: 2.5rem;
  gap: 0.8rem;
  justify-content: center;
}

.title-1-section{
  color: #E98D4F;
}

.title-2-section{
  color: white;
}

.title-3-section{
  color: #36334F;
}

.title-4-section{
  color: black;
}

.error-message {
  display: none;
  font-weight: bold;
  text-align: center;
}

.modal-title{
  color: #36334F;
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
}

.description-modal{
  font-weight: 400;
  padding: 1rem;
}

.modal-body{
  padding: 2rem 2rem 0 2rem;
}

.footer-modal{
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 1rem;
}

.footer-modal-custom{
  justify-content:center;
  width: 100%;
  display: grid;
  padding-bottom: 2rem;
}

.error-modal-description{
  font-weight: 300;
  padding: 1rem;
}

@media screen and (max-width: 767px) {

  #logo {
    width: 9rem;
    padding: 1rem;
  }

  #navbarNav{
    text-align: center;
    margin: 2rem;
  }
  
  #btnNavbar{
    margin-top: 2rem;
  }

  .about-section{
    padding: 3rem 0;
  }

  #imgAbout{
    margin-top: 2rem;
  }

  .text-content{
    text-align: center;
  }

  .title-content{
    font-size: 3.5rem;
  }

  .description-content{
    font-size: 2rem;
  }

  .footer-modal-custom{
    padding: 1.5rem
  }

  .swiper-button-prev, .swiper-button-next{
    display: none;
  }

  .text-content{
    text-align: left;
    padding-left: 1rem;
  }
}

/* MD breakpoint*/
@media (min-width: 768px) {
  .w-md-25 { width: 20%!important; }
}